# PostgreSQL Database
PG_HOST=localhost
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=postgrespassword
PG_DB=pitch_pulse

# Kafka & Zookeeper
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# Debezium CDC
DEBEZIUM_URL=http://localhost:8083

# Qdrant Vector DB
QDRANT_HOST=localhost
QDRANT_PORT=6333

# App Settings
LOG_LEVEL=INFO
